services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
    volumes:
      - ./database/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - "8888:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=123
      - DB_NAME=postgres
    depends_on:
      db:
        condition: service_healthy
